/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;  background-color: #D9BCAA;}
body { margin: auto; font-family:"Calibri, sans-serif"; font-size: 20px ;flex-wrap: inherit; }
header{color:#D9BCAA;}
footer{color: black;}

.cart-item {
    font-size: medium;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
  }

  .fa-heart{
    color:red;
    cursor: pointer;
  }
  
