 <!--<app-nav></app-nav>
<div class="container">
   <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>
</div>
 <div class="container">
  <div class="row">
    <div class="col">
     
      <app-shopping-cart></app-shopping-cart>
    </div>
  </div>

  <div class="mt-auto">
    <div class="mt-auto">
      <app-footer></app-footer>
    </div>
  </div> 
  <app-header></app-header>
  <app-add-keramiek></app-add-keramiek>
  <app-keramiek-list></app-keramiek-list>
</div> -->


<!-- <app-main-nav>
    <router-outlet></router-outlet>
</app-main-nav> -->

<app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet>
<app-footer> </app-footer>
