
<div class="card shadow-lg">
  <img
    class="bd-placeholder-img card-img-top"
    width="100%"
    src="{{ apiurl + keramiek.imageUrl | slice: 0:50 }}"
  />
  
  <div class="card-body" data-cy="keramiekCard">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="deleteKeramiek()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-trash"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
        />
        <path
          fill-rule="evenodd"
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
        />
      </svg>
    </button>
    <p class="card-text">
      <strong
        ><small class="text-muted">{{
          keramiek.price | currency: "EUR" }}
        </small></strong
      
        >
      <i *ngIf="addedToWishlist"class="fas fa-heart float-right" (click)="handleRemoveFromWishList()"></i>
      <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishList()"></i>
    </p>
    <p class="card-text">{{ 'keramiek.name' | translate:{'name': keramiek.name} }}</p>
    <p class="card-text">
      <strong> {{ 'keramiek.korte-beschrijving:' | translate }}   </strong
      > {{keramiek.description}}
    </p>
    <!-- {{ 'keramiek.description' | translate }} -->
    <p class="card-text">{{ 'keramiek.kleur:'  | translate}}: {{ keramiek.color | translate }} </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="mat-button-toggle-group">
        <button
          type="button"
          class="btn btn-sm btn-primary product-btn"
          (click)="handleAddToCart()"
         >
          {{ 'keramiek.toevoegen-aan-winkelwagen' | translate }}
        </button>
        <button
          type="button"
          class="btn btn-sm btn-secondary product-btn"
          [routerLink]="['../detail/', keramiek.id]"
          data-cy="detail"
         >
          Details
        </button>
       
      </div>
    </div>
  </div>
</div>
